/Main.aux
/Main.lof
/Main.log
/Main.out
/Main.toc
/Main.pdf
/texput.log
/main.acn
/main.aux
/main.bbl
/main.blg
/main.glg
/main.glo
/main.gls
/main.idx
/main.ilg
/main.ind
/main.lof
/main.log
/main.out
/main.pdf
/main.synctex.gz
/main.toc
/main.xdy
